.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #11141B  0%, rgba(17, 20, 27, 0) 100%);
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}
.header__logo {
    flex: 0 0 120px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin-left: 15px;
}
.header__logo img{
    max-width: 100%;
    display: block;
    
}
.header__burger {
    display: none;
    margin-right: 15px;
}
.header__menu {
}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header__link {
    font-family: $font-r;
    text-transform: lowercase;
    color: $color-white;
    font-size: $nav;
    text-decoration: none;
    transition: all .5s;
}
.header__link:hover{
    color: $color-red;
}